
.draggable a.tabledrag-handle,
[dir="rtl"] .draggable a.tabledrag-handle {
  height: 1rem;
  width: 2rem;
  opacity: 0.7;
}
.draggable a.tabledrag-handle {
  margin: 4px 10px 0 -4px;/* LTR */
}
[dir="rtl"] .draggable a.tabledrag-handle {
  margin: 4px -4px 0 10px;
}
a.tabledrag-handle .handle {
  width: 2rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  background: url("../img/grippie.png") center no-repeat;
}
[dir="rtl"] a.tabledrag-handle .handle {
  margin: 0;
  padding: 0;
}
.draggable a.tabledrag-handle:hover,
.draggable a.tabledrag-handle:focus {
  opacity: 1;
}
.dark-mode a.tabledrag-handle .handle {
  background-image: url("../img/grippie-light.png");
}
